<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #C8FBCC;
        }
        .btn-one {
            background-color: #89E88F;
            border: none;
            font-size: 18px;
            padding: 12px;
            width: 30%;
        }
        </style>    
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    
<body>

    <div class="container">
        <h2 class="text-center">Two-Variable Scatterplot</h2>
<!--             <form action="/display-data/two-var-plot" method="POST">

                <select>
                    <label for="feature0" class="form-label">Feature 1</label>
                    <option value="danceability">Danceability</option>
                    <option value="loudness">Loudness</option>
                    <option value="energy">Energy</option>
                    <option value="acousticness">Acousticness</option>
                    <option value="instrumentalness">Instrumentalness</option>
                    <option value="speechiness">Speechiness</option>
                    <option value="valence">Valence</option>
                    <option value="tempo">Tempo</option>
                </select>
            
                <select>
                    <label for="feature1" class="form-label">Feature 1</label>
                    <option value="danceability">Danceability</option>
                    <option value="loudness">Loudness</option>
                    <option value="energy">Energy</option>
                    <option value="acousticness">Acousticness</option>
                    <option value="instrumentalness">Instrumentalness</option>
                    <option value="speechiness">Speechiness</option>
                    <option value="valence">Valence</option>
                    <option value="tempo">Tempo</option>
                </select>
            <button type="submit" class="btn submit-btn w-100">Submit</button>
        </form> -->
        <form method="POST">
            <label for="feature0">Feature 1:</label>
            <input type="text" name="feature0" value="loudness">
    
            <label for="feature1">Feature 2:</label>
            <input type="text" name="feature1" value="energy">
    
            <button type="submit">Update Plot</button>
        </form>
        
        <div id="2-var-plot"></div>
        <script>
            function updatePlot() {
                var graph = {{ graph_json | safe }};
                Plotly.react('2-var-plot', graph.data, graph.layout);
            }
            updatePlot();
        </script>
        
        <div class="text-center">
            <a href="/display-data" class="btn btn-one">Back</a>
        </div>
        
    </div>
</body>
</html>